@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-weight: 200; /* Соответствует значению normal */
  font-family: "Manrope";
  src: url("src/fonts/static/Manrope-Light.ttf");
}
@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Manrope";
  src: url("src/fonts/static/Manrope-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Manrope";
  src: url("src/fonts/static/Manrope-Medium.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Manrope";
  src: url("src/fonts/static/Manrope-SemiBold.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Manrope";
  src: url("src/fonts/static/Manrope-Bold.ttf");
}
@font-face {
  font-weight: 800;
  font-family: "Manrope";
  src: url("src/fonts/static/Manrope-ExtraBold.ttf");
}
html {
  font-size: 10px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 2rem;
  line-height: 2.8rem;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 35rem;
  color: #fff;
  background-color: #15161D;
}
body.no_scroll {
  overflow: hidden;
}

a {
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

section {
  padding: 20rem 0;
}

.section_title {
  font-size: 4.2rem;
  line-height: 4.8rem;
  font-weight: 700;
  color: #fff;
}

.btn {
  width: 20rem;
  height: 6rem;
  background-color: #fff;
  color: #15161D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.btn:hover {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.header {
  width: 100%;
  position: relative;
}
.header .nav {
  width: 100%;
  background-color: transparent;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 200;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .nav_fixed {
  background-color: #1C1D26;
}
.header .nav .container:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}
.header .nav_logo {
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.header .nav_logo:hover {
  opacity: 1;
}
.header .nav_logo img {
  display: block;
  width: 100%;
}
.header .nav_logo-mobile {
  display: none;
}
.header .nav_burger {
  display: none;
  width: 3.6rem;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.header .nav_burger:hover {
  opacity: 1;
  cursor: pointer;
}
.header .nav_burger img {
  display: block;
  width: 100%;
}
.header .nav_list::-moz-selection {
  background-color: transparent;
}
.header .nav_list::selection {
  background-color: transparent;
}
.header .nav_list:hover {
  cursor: default;
}
.header .nav_list-item {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  margin: 0 1.2rem;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.header .nav_list-item:hover {
  opacity: 1;
  cursor: pointer;
}
.header .nav_list-item::-moz-selection {
  background-color: transparent;
}
.header .nav_list-item::selection {
  background-color: transparent;
}
.header .nav_contacts {
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.8;
  margin: 0 1.2rem;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}
.header .nav_contacts:before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #A4814E;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
}
.header .nav_contacts:hover {
  opacity: 1;
}
.header_catalog {
  position: fixed;
  top: 6rem;
  left: 0;
  overflow-x: auto;
  scrollbar-width: 0px;
  z-index: 100;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 4.8rem;
  padding-bottom: 2.4rem;
  background-color: #1C1D26;
}
.header_catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header_catalog-title {
  font-size: 2.4rem;
  color: #A4814E;
  font-weight: 400;
  margin-bottom: 2.4rem;
}
.header_catalog-item {
  display: block;
  width: 30rem;
}
.header_catalog-item img {
  width: 100%;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.header_catalog-item p {
  font-size: 1.8rem;
  margin-top: 0.8rem;
  position: relative;
  padding-bottom: 0.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header_catalog-item p::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #A4814E;
  opacity: 0;
  position: absolute;
  bottom: 0rem;
  left: 0;
  -webkit-transform: translateY(0.5rem);
      -ms-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.header_catalog-item:hover img {
  opacity: 1;
}
.header_catalog-item:hover p::before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.header_catalog.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-box-shadow: 0px 4px 28px rgba(21, 22, 29, 0.25);
          box-shadow: 0px 4px 28px rgba(21, 22, 29, 0.25);
}
.header_observertrigger {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 20rem;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.main .first {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(179.11deg, #1F233F -33.3%, #15161D 65.85%);
}
.main .first_logo {
  width: 91rem;
  height: 20rem;
  max-width: 90%;
}
.main .first_divider {
  width: 60rem;
  height: 2px;
  background-color: #A4814E;
  margin-top: 6.4rem;
}
.main .first_subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1.2rem;
}
.main .first .btn {
  margin-top: 7.2rem;
  -webkit-animation: first_btn 2.5s ease-in-out infinite;
          animation: first_btn 2.5s ease-in-out infinite;
}
@-webkit-keyframes first_btn {
  0% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}
@keyframes first_btn {
  0% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}
.main .category {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main .category_divider {
  background: #15161D;
  width: 100%;
  height: 5rem;
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 5;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 100% 100%, 100% 0);
}
.main .category_divider-bottom {
  background: #15161D;
  width: 100%;
  height: 10rem;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  z-index: 5;
  -webkit-clip-path: polygon(0 50%, 0% 100%, 100% 100%);
          clip-path: polygon(0 50%, 0% 100%, 100% 100%);
}
.main .category_triangle {
  display: block;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.main .category_triangle-wrapper {
  height: 100%;
  width: 100%;
  background-color: #15161D;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.main .category_triangle:hover .category_triangle-wrapper {
  opacity: 0.4;
}
.main .category .triangle1 {
  background-image: url(src/img/mask/home.jpg);
  background-size: 120% 140%;
  background-position: right;
  background-repeat: no-repeat;
  width: 68.5%;
  height: 79.5%;
  -webkit-clip-path: polygon(0% 0, 0 100%, 100% 0%);
          clip-path: polygon(0% 0, 0 100%, 100% 0%);
  top: 0;
  left: 0;
  -webkit-transform: translateX(-3rem);
      -ms-transform: translateX(-3rem);
          transform: translateX(-3rem);
}
.main .category .triangle2 {
  background-image: url(src/img/mask/hotel.jpg);
  background-size: 120% 120%;
  background-position: center;
  background-repeat: no-repeat;
  width: 57.8%;
  height: 100%;
  -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 30.5%);
          clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 30.5%);
  top: 0;
  right: 0;
  -webkit-transform: translateX(2.5rem);
      -ms-transform: translateX(2.5rem);
          transform: translateX(2.5rem);
}
.main .category .triangle3 {
  background-image: url(src/img/mask/office.jpg);
  background-size: 100% 160%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 69.5%;
  -webkit-clip-path: polygon(0 69.5%, 42.2% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 69.5%, 42.2% 0%, 100% 100%, 0% 100%);
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(2rem);
      -ms-transform: translateY(2rem);
          transform: translateY(2rem);
}
.main .category .line {
  z-index: 3;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 68.5%;
  height: 79.5%;
  -webkit-clip-path: polygon(0 99%, 99.5% 0, 100% 0, 0 99.5%);
          clip-path: polygon(0 99%, 99.5% 0, 100% 0, 0 99.5%);
}
.main .category .line .line_inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .category .line .line_inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translate(-100%, 100%);
      -ms-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}
.main .category .line .line_inner-active::before {
  -webkit-animation: line1 0.4s ease-in-out forwards;
          animation: line1 0.4s ease-in-out forwards;
}
.main .category .line2 {
  z-index: 3;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 58%;
  height: 100%;
  -webkit-clip-path: polygon(0.4% 30%, 100% 99.6%, 100% 100%, 0% 30.2%);
          clip-path: polygon(0.4% 30%, 100% 99.6%, 100% 100%, 0% 30.2%);
}
.main .category .line2 .line_inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .category .line2 .line_inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translate(100%, 100%);
      -ms-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}
.main .category .line2 .line_inner-active::before {
  -webkit-animation: line2 0.6s ease-in-out forwards;
          animation: line2 0.6s ease-in-out forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes line1 {
  0% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes line1 {
  0% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes line2 {
  0% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes line2 {
  0% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.main .category .text {
  position: absolute;
  z-index: 3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 700;
}
.main .category .text1 {
  top: 15%;
  left: 10%;
}
.main .category .text2 {
  top: 25%;
  right: 15%;
}
.main .category .text3 {
  bottom: 30%;
  left: 45%;
}
@-webkit-keyframes text_line {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes text_line {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.main .category_animated .triangle1 {
  -webkit-animation: show_triangle1 0.4s ease-in-out forwards;
          animation: show_triangle1 0.4s ease-in-out forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.main .category_animated .triangle2 {
  -webkit-animation: show_triangle2 0.4s ease-in-out forwards;
          animation: show_triangle2 0.4s ease-in-out forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.main .category_animated .triangle3 {
  -webkit-animation: show_triangle3 0.4s ease-in-out forwards;
          animation: show_triangle3 0.4s ease-in-out forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes show_triangle1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes show_triangle1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes show_triangle2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes show_triangle2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes show_triangle3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes show_triangle3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.main .about {
  margin-top: 8rem;
  overflow: hidden;
}
.main .about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .about_text {
  max-width: 72rem;
  position: relative;
}
.main .about_text::before {
  content: "LIONLUX";
  font-size: 15rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: -1rem;
  opacity: 0.02;
  position: absolute;
  top: -3.5rem;
  left: -6rem;
}
.main .about_text-heading {
  color: #fff;
  font-size: 4.2rem;
  line-height: 4.8rem;
  font-weight: 400;
  margin-bottom: 7.2rem;
}
.main .about_text-heading .accent {
  color: #A4814E;
  font-weight: 700;
}
.main .about_text-info {
  max-width: 64rem;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3.6rem;
}
.main .about_text-info.mobile {
  display: none;
}
.main .about_text-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.2rem;
}
.main .about_text-btns .accent {
  background-color: transparent;
  color: #A4814E;
  border: 1px solid #A4814E;
  margin-right: 4.8rem;
}
.main .about_text-btns .accent:hover {
  background-color: #A4814E;
  color: #fff;
}
.main .about_img {
  max-width: 40%;
  margin-left: 2.8rem;
}
.main .fasad {
  overflow: hidden;
}
.main .fasad .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.main .fasad .container::after {
  content: "";
  display: block;
  width: 76rem;
  height: 76rem;
  opacity: 0.02;
  background-image: url("src/img/fasad-vector.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: -35%;
  bottom: -15%;
  z-index: -1;
}
.main .fasad_img {
  display: block;
  width: 55rem;
}
.main .fasad_wrapper {
  padding-top: 10rem;
  margin-left: 2rem;
}
.main .fasad_wrapper-title {
  font-size: 4.2rem;
  color: #A4814E;
  font-weight: 700;
  padding-left: 5rem;
}
.main .fasad_wrapper-text {
  font-size: 2rem;
  padding-left: 5rem;
  color: #fff;
  max-width: 68rem;
  margin-top: 3.6rem;
}
.main .fasad_wrapper-text a {
  color: #A4814E;
}
.main .fasad_wrapper-text a:hover {
  text-decoration: underline;
}
.main .fasad_wrapper-btns {
  padding-left: 5rem;
  margin-top: 7.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .fasad_wrapper-btns .accent {
  margin-left: 4.8rem;
  background-color: transparent;
  border: 1px solid #A4814E;
  color: #A4814E;
  position: relative;
  width: 26rem;
}
.main .fasad_wrapper-btns .accent:hover {
  -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
          transform: translateX(1rem);
  background-color: #A4814E;
  color: #fff;
}
.main .fasad_wrapper-btns .accent:hover::before {
  background-image: url("src/img/btn-arrow-white.svg");
}
.main .fasad_wrapper-btns .accent::before {
  content: "";
  display: block;
  width: 2rem;
  height: 1.2rem;
  background-image: url("src/img/btn-arrow.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 2rem;
  top: 2.4rem;
}
.main .fasad_wrapper-btns .accent::after {
  content: "";
  display: block;
  width: 5rem;
  height: 2.4rem;
  background-image: url("src/img/sidak_logo.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: -1rem;
  top: -1.4rem;
}
.main .fasad_wrapper-img {
  max-width: 85rem;
  margin-top: 10rem;
}
.main .fasad_mobile-img {
  display: none;
}
.main .partners {
  padding-bottom: 0;
}
.main .partners .section_title {
  margin-bottom: 7.2rem;
  text-align: center;
}
.main .partners .section_title .accent {
  color: #A4814E;
}
.main .partners .section_title.partners_second {
  margin-top: 7.2rem;
  margin-bottom: 14rem;
}
.main .partners_wrapper {
  width: 100%;
  padding: 4.8rem;
  background-color: #1C1D26;
  -webkit-box-shadow: 0px 4px 28px rgba(21, 22, 29, 0.25);
          box-shadow: 0px 4px 28px rgba(21, 22, 29, 0.25);
  border-radius: 2.4rem;
  margin-bottom: 4.8rem;
}
.main .partners_wrapper-title {
  margin-bottom: 7.2rem;
  margin-left: 2rem;
  font-size: 3.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.6rem;
  border-bottom: 0.2rem solid #A4814E;
  color: #fff;
}
.main .partners_wrapper-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 20rem;
  margin: 3.6rem 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main .partners_wrapper-card:hover {
  background-color: rgba(255, 255, 255, 0.2117647059);
  -webkit-transform: translateY(-2rem);
      -ms-transform: translateY(-2rem);
          transform: translateY(-2rem);
}
.main .partners_wrapper-card img {
  max-width: 100%;
  width: 35rem;
}
.main .partners_wrapper-inner {
  padding: 0;
  display: grid;
  grid-template-columns: 100fr 100fr 100fr;
  gap: 2rem;
}
.main .partners_wrapper-subtitle {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 3.6rem;
}
.main .partners_wrapper-list {
  margin-bottom: 7.2rem;
}
.main .partners_wrapper-list li {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
.main .partners_link {
  font-size: 1.8rem;
  font-weight: 400;
  -webkit-box-shadow: 0px 0px 66px -3px rgba(17, 25, 67, 0.2);
          box-shadow: 0px 0px 66px -3px rgba(17, 25, 67, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#232430), to(#15161D));
  background: linear-gradient(90deg, #232430 0%, #15161D 100%);
  -webkit-backdrop-filter: blur(23.5px);
          backdrop-filter: blur(23.5px);
}
.main .partners_link .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
}
.main .partners_link a {
  color: #A4814E;
  margin-left: 1rem;
}
.main .partners_link a:hover {
  text-decoration: underline;
}
.main .terms .section_title {
  text-align: center;
  margin-bottom: 7.2rem;
}
.main .terms_list-item {
  font-size: 2rem;
  color: #fff;
  background-color: #1C1D26;
  padding: 6.4rem 4rem 2.4rem 4rem;
  margin-bottom: 2.4rem;
  position: relative;
}
.main .terms_list-item::before {
  content: "";
  display: block;
  background-image: url("src/img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4rem;
  height: 2.75rem;
  position: absolute;
  top: 2.4rem;
  left: 4rem;
}
.main .design {
  overflow: hidden;
  background: radial-gradient(18.62% 37.15% at 75.39% 50.05%, #1F233F 0%, #15161D 100%);
}
.main .design .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .design_wrapper {
  color: #fff;
  max-width: 72rem;
}
.main .design_wrapper .section_title {
  margin-bottom: 7.2rem;
}
.main .design_wrapper .section_title .accent {
  color: #A4814E;
}
.main .design_wrapper-subtitle {
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
  margin-top: 3.2rem;
  font-weight: 700;
}
.main .design_wrapper-text {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.main .design_wrapper .btn {
  margin-top: 7.2rem;
  background-color: #A4814E;
  color: #fff;
}
.main .design_image {
  position: relative;
}
.main .design_image .rastr {
  position: relative;
  z-index: 4;
}
.main .design_image .vector {
  position: absolute;
  top: -10%;
  right: -10%;
  z-index: 3;
}
.main .contacts {
  overflow: hidden;
}
.main .contacts .section_title {
  text-align: right;
  margin-bottom: 7.2rem;
}
.main .contacts_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .contacts_wrapper-info {
  position: relative;
  background-color: #fff;
  color: #15161D;
  width: 42rem;
  min-height: 63rem;
  padding-left: 4rem;
  padding-top: 3.2rem;
  padding-bottom: 10rem;
}
.main .contacts_wrapper-info h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 2px solid #A4814E;
  margin-bottom: 3.2rem;
}
.main .contacts_wrapper-info .btn {
  position: absolute;
  bottom: 4rem;
  right: -5rem;
  background-color: #A4814E;
  color: #fff;
}
.main .contacts_wrapper-info .btn:hover {
  -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
          transform: translateX(1rem);
}
.main .contacts_wrapper-inner {
  position: relative;
}
.main .contacts_wrapper-inner::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #A4814E;
  -webkit-box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
          box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
  position: absolute;
  top: 49%;
  left: 92%;
  -webkit-animation: point_shadow ease-in-out 5s infinite;
          animation: point_shadow ease-in-out 5s infinite;
}
.main .contacts_wrapper-inner::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid #A4814E;
  position: absolute;
  top: 49%;
  left: 92%;
  -webkit-animation: point_border ease-in-out 3s infinite;
          animation: point_border ease-in-out 3s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes point_shadow {
  0% {
    -webkit-box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
            box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 20.3px 2px rgba(255, 255, 255, 0.41);
            box-shadow: 0px 0px 20.3px 2px rgba(255, 255, 255, 0.41);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
            box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes point_shadow {
  0% {
    -webkit-box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
            box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 20.3px 2px rgba(255, 255, 255, 0.41);
            box-shadow: 0px 0px 20.3px 2px rgba(255, 255, 255, 0.41);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
            box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes point_border {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}
@keyframes point_border {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}
.main .contacts_wrapper-img {
  max-width: 70%;
  -webkit-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
          transform: translateX(-20%);
}
.main .contacts_wrapper-img img {
  width: 150%;
}
.main .contacts_list {
  margin-bottom: 4.2rem;
}
.main .contacts_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.main .contacts_list-item img {
  margin-right: 1.6rem;
  width: 2rem;
  height: 2rem;
}
.main .contacts_list-item .phone {
  width: 1.8rem;
  height: 2rem;
}
.main .contacts_list-item a:hover {
  color: #A4814E;
  text-decoration: underline;
}
.main .contacts_list-item.location {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.main .contacts_list-item.location img {
  -webkit-transform: translateY(0.4rem);
      -ms-transform: translateY(0.4rem);
          transform: translateY(0.4rem);
}
.main .contacts_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .contacts_socials a {
  display: block;
  margin-right: 1.6rem;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
.main .contacts_socials a:hover {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}
.main .service .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .service_wrapper {
  max-width: 54rem;
}
.main .service_wrapper .section_title {
  text-align: left;
  margin-bottom: 12rem;
}
.main .service_wrapper-text {
  color: #fff;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 3.6rem;
}
.main .service_wrapper-text .accent {
  color: #A4814E;
}
.main .service_btns {
  background-color: #A4814E;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}
.main .service_btns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border: none;
  outline: none;
  width: 40rem;
  height: 20rem;
  margin: 0;
  padding: 1.6rem;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.main .service_btns-item:hover {
  -webkit-transform: translateX(-2rem);
      -ms-transform: translateX(-2rem);
          transform: translateX(-2rem);
}
.main .service_btns-item img {
  display: block;
  margin-bottom: 2.4rem;
}
.main .service_btns-item p {
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-align: left;
}
.main .service_btns-item:nth-child(1) img {
  height: 2.8rem;
  width: 3.2rem;
}
.main .service_btns-item:nth-child(1) p {
  color: #15161D;
}
.main .service_btns-item:nth-child(2) {
  background-color: #15161D;
}
.main .service_btns-item:nth-child(2) img {
  height: 3.2rem;
  width: 3.2rem;
}
.main .service_btns-item:nth-child(2) p {
  color: #fff;
}
.main .service_btns-item:nth-child(3) {
  background-color: #fff;
}
.main .service_btns-item:nth-child(3) img {
  height: 4.4rem;
  width: 4.2rem;
}
.main .service_btns-item:nth-child(3) p {
  color: #15161D;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 6rem 0 2rem 0;
  background-color: #1C1D26;
}
.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_wrapper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.footer_logo {
  width: 20rem;
}
.footer_logo-mobile {
  display: none;
}
.footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.6rem;
}
.footer_socials a {
  margin-right: 1.6rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.footer_socials a:hover {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}
.footer_socials img {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
}
.footer_list {
  margin: 0 2.4rem;
}
.footer_list:last-child {
  margin-right: 0;
}
.footer_list-title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
  padding-bottom: 0.5rem;
  margin-bottom: 2.4rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer_list-title::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #A4814E;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
}
.footer_list-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
}
.footer_list-item a, .footer_list-item button {
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0;
  outline: none;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1.6rem;
  opacity: 0.8;
}
.footer_list-item a:hover, .footer_list-item button:hover {
  opacity: 1;
}
.footer_mobile_list {
  position: relative;
  display: none;
  width: 100%;
}
.footer_mobile_list-item {
  width: 100%;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0.8;
}
.footer_mobile_list-item:hover {
  opacity: 1;
}
.footer_mobile_list-item a {
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding: 0.8rem;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.footer_confidence {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  opacity: 0.6;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 7.2rem;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.footer_confidence:hover {
  opacity: 1;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  html {
    font-size: 9px;
  }
  .main .fasad_img {
    width: 40%;
  }
  .main .fasad_wrapper-img {
    max-width: 100%;
  }
  .main .contacts_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .contacts_wrapper-img {
    width: 100%;
    position: relative;
    max-width: 100%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-bottom: 7.2rem;
  }
  .main .contacts_wrapper-img img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .main .contacts_wrapper-info {
    width: 80%;
  }
  .main .contacts .section_title {
    margin-bottom: 0;
  }
  .main .contacts_wrapper-inner::after {
    left: 62%;
  }
  .main .contacts_wrapper-inner::before {
    left: 62%;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 5%;
  }
  html {
    font-size: 8px;
  }
  .design_image {
    width: 40%;
  }
  .design_image .rastr {
    max-width: 100%;
  }
  .design_image .vector {
    max-width: 120%;
  }
  .main .design_wrapper {
    max-width: 42rem;
  }
}
@media (max-width: 768px) {
  section {
    padding: 20rem 0;
  }
  body {
    padding-bottom: 100rem;
  }
  .nav_list {
    display: none;
  }
  .nav .nav_burger {
    display: block;
  }
  .header .nav_contacts {
    display: none;
  }
  .main .first_logo {
    width: 90%;
    max-width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main .first_divider {
    width: 80%;
    margin-top: 3.6rem;
  }
  .main .first_subtitle {
    text-align: center;
    max-width: 80%;
    font-size: 1.8rem;
  }
  .main .about {
    margin-top: 40rem;
    padding-top: 80%;
    position: relative;
  }
  .main .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #15161D;
    max-width: 100%;
    border-radius: 2.4rem 2.4rem 0 0;
    -webkit-box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
            box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
  }
  .main .about_img {
    position: absolute;
    display: block;
    max-width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .main .about_text {
    padding-top: 4.2rem;
    width: 100%;
    max-width: 100%;
  }
  .main .about_text-heading {
    width: 100%;
  }
  .main .about_text-info {
    max-width: 100%;
    display: none;
  }
  .main .about_text-info.mobile {
    display: block;
  }
  .main .about_text::before {
    display: none;
  }
  .main .category {
    height: 100lvh;
  }
  .main .category_divider {
    height: 5rem;
  }
  .main .category .text {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  .main .category .text1 {
    left: 5%;
  }
  .main .category .text2 {
    right: 5%;
    top: 40%;
  }
  .main .category .text3 {
    left: 5%;
    bottom: 40%;
  }
  .main .category .line {
    height: 48.5%;
    width: 100%;
  }
  .main .category .line2 {
    width: 100%;
    height: 100%;
    bottom: 0;
    -webkit-clip-path: polygon(0% 48%, 100% 77.68%, 100.2% 78%, 0% 48.2%);
            clip-path: polygon(0% 48%, 100% 77.68%, 100.2% 78%, 0% 48.2%);
  }
  .main .category .triangle1 {
    height: 48%;
    width: 100%;
    background-size: 140% 155%;
  }
  .main .category .triangle2 {
    width: 100%;
    height: 85%;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 92%, 0 56.5%);
            clip-path: polygon(100% 0, 100% 0, 100% 92%, 0 56.5%);
    background-size: 140% 100%;
  }
  .main .category .triangle3 {
    width: 100%;
    height: 52%;
    -webkit-clip-path: polygon(0 0%, 0.2% 0%, 174% 100%, 0% 100%);
            clip-path: polygon(0 0%, 0.2% 0%, 174% 100%, 0% 100%);
    background-size: 140% 140%;
  }
  .main .fasad {
    position: relative;
    width: 100%;
    padding-top: 40%;
  }
  .main .fasad_img {
    display: none;
  }
  .main .fasad_wrapper {
    position: relative;
    background-color: #15161D;
    padding-top: 4.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 95%;
    margin-left: 0;
  }
  .main .fasad_wrapper-img {
    display: none;
  }
  .main .fasad_wrapper-title {
    padding-left: 0;
  }
  .main .fasad_wrapper-text {
    padding-left: 0;
  }
  .main .fasad_wrapper-btns {
    padding-left: 0;
    margin-top: 3.6rem;
  }
  .main .fasad_mobile-img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .main .fasad .container::after {
    display: none;
  }
  .main .fasad .container {
    position: relative;
    z-index: 4;
    max-width: 100%;
    background-color: #15161D;
    border-radius: 2.4rem 2.4rem 0 0;
    -webkit-box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
            box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
  }
  .main .partners_wrapper {
    padding: 10% 5%;
  }
  .main .partners_wrapper-card {
    width: 100%;
    padding: 2rem;
    margin: 0;
  }
  .main .partners_wrapper-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5.4rem;
  }
  .main .partners_wrapper-title div.third {
    width: 100%;
    min-height: 5.4rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 4rem 0;
  }
  .main .partners_wrapper-title div.third::after {
    padding-left: 3.2rem;
  }
  .main .partners_wrapper-inner {
    grid-template-columns: 100fr 100fr;
  }
  .main .design {
    background: radial-gradient(49.32% 20.46% at 50% 23.81%, #1F233F 0%, #15161D 100%);
  }
  .main .design .section_title {
    text-align: center;
  }
  .main .design .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .design_image {
    display: block;
    position: relative;
    width: 80%;
    margin-bottom: 14.2rem;
  }
  .main .design_wrapper {
    text-align: center;
    max-width: 100%;
  }
  .main .design_wrapper-subtitle {
    font-weight: 700;
    font-size: 2.8rem;
  }
  .main .design_wrapper-text {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .main .design .btn {
    margin: 0 auto;
    margin-top: 7.2rem;
  }
  .main .contacts {
    width: 100%;
    position: relative;
  }
  .main .contacts .section_title {
    position: relative;
    z-index: 3;
    margin-bottom: 60rem;
    padding-right: 5%;
  }
  .main .contacts_wrapper {
    width: 100%;
  }
  .main .contacts_wrapper-inner::before {
    left: 101%;
  }
  .main .contacts_wrapper-inner::after {
    left: 101%;
  }
  .main .contacts .container {
    position: static;
    padding: 0;
  }
  .main .contacts_wrapper-img {
    position: absolute;
    top: 10%;
    left: -40%;
    width: 100%;
    z-index: 2;
  }
  .main .contacts_wrapper-img img {
    width: 165%;
  }
  .main .contacts_wrapper-info {
    z-index: 3;
    width: 100%;
    border-radius: 2.4rem 2.4rem 0 0;
    -webkit-box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
            box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
    padding-top: 4.2rem;
  }
  .main .contacts_wrapper-info .btn {
    right: 0;
  }
  .main .service .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .main .service_wrapper {
    max-width: 100%;
    margin-bottom: 7.2rem;
  }
  .main .service_btns {
    width: 100%;
  }
  .main .service_btns-item {
    width: 100%;
  }
  .footer {
    border-radius: 2.4rem 2.4rem 0 0;
    -webkit-box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
            box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
  }
  .footer .container {
    max-width: 100%;
    padding: 0;
  }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_wrapper-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 4.8rem;
  }
  .footer_logo {
    display: none;
  }
  .footer_logo-mobile {
    display: block;
    margin-bottom: 4.8rem;
  }
  .footer_socials {
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_socials a {
    margin: 0 1.2rem;
  }
  .footer_socials img {
    width: 4.2rem;
    height: 4.2rem;
  }
  .footer_list {
    display: none;
  }
  .footer_mobile_list {
    display: block;
    margin-bottom: 4.8rem;
  }
  .footer_confidence {
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 2.4rem;
  }
  .section_title {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  .container {
    max-width: 100%;
  }
  .main .about_text .section_title {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  .main .about_text-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .about_text-btns .btn {
    width: 100%;
  }
  .main .about_text-btns .accent {
    margin: 0 0 3.6rem 0;
  }
  .main .about_text-info {
    font-size: 2.4rem;
  }
  .main .about_text-info:nth-child(3) {
    content: "Наша команда профессионалов и собственная производственная база с самым современным оборудованием позволит разработать и реализовать для вас практически любой проект корпусной мебели.";
  }
  .main .terms_list-item {
    font-size: 1.8rem;
  }
  .main .about_text::before {
    font-size: 10rem;
    left: -5%;
  }
  .main .category_divider {
    height: 5rem;
  }
  .main .category .text .text_inner {
    width: 16rem;
    height: 3.4rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .main .category .text .text_inner::after {
    padding-left: 1.8rem;
  }
  .main .category .text3 {
    left: 35%;
  }
  .main .fasad .section_title {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  .main .fasad .btn {
    width: 100%;
  }
  .main .fasad .btn.accent {
    width: 100%;
  }
  .main .fasad .btn.accent:hover {
    -webkit-transform: translateY(-0.5rem);
        -ms-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  .main .fasad_wrapper {
    margin-left: 0;
    width: 100%;
  }
  .main .fasad_wrapper-text {
    font-size: 2.4rem;
  }
  .main .fasad_wrapper-btns {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 7.2rem;
  }
  .main .fasad_wrapper-btns .accent {
    margin: 4.2rem 0;
  }
  .main .fasad_wrapper-btns .accent {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 2rem;
  }
  .main .fasad_wrapper-btns .accent::before {
    display: none;
  }
  .main .partners_wrapper-title {
    font-size: 2rem;
  }
  .main .partners_wrapper-card {
    padding: 1rem;
    height: 12rem;
  }
  .main .partners_wrapper-card img {
    width: 100%;
    max-width: 100%;
  }
  .main .partners_wrapper-inner {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .partners_link {
    font-size: 1.2rem;
  }
  .main .contacts_wrapper-info {
    width: 100%;
  }
  .main .contacts .section_title {
    margin-bottom: 40rem;
  }
  .main .contacts_wrapper-img {
    top: 10%;
  }
  .footer_wrapper-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}