@media (max-width: 1440px) {

    .container {
        max-width: 1200px;
    }

    html {
        font-size: 9px;
    }

    .main {

        .fasad {

            &_img {
                width: 40%;
            }
            &_wrapper {
                &-img {
                    max-width: 100%;
                }
            }
        }

        .contacts_wrapper {
           flex-direction: column-reverse;

           &-img {
            width: 100%;

            position: relative;
            max-width: 100%;
            transform: none;
            margin-bottom: 7.2rem;
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }
           }

           &-info {
            width: 80%;
           }
        }
    }

    .main .contacts {
        .section_title {
            margin-bottom: 0;
        }

        &_wrapper {

            &-inner {

                &::after {
                    left: 62%;
                }

                &::before {
                    left: 62%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 100%;
        padding: 0 5%;
    }
    
    html {
        font-size: 8px;
    }

    .design_image {
        width: 40%;
        .rastr {
            max-width: 100%;
        }
        .vector {
            max-width: 120%;
        }
    }

    .main .design_wrapper {
        max-width: 42rem;
    }
}

@media (max-width: 768px) {
    
    section {
        padding: 20rem 0;
    }

    body {
        padding-bottom: 100rem;
    }

    .nav {
        &_list {
            display: none;
        }

        .nav_burger {
            display: block;
        }

        &_logo {
            display: none;
        }

        
    }

    .header {
        .nav {
            &_logo-mobile {
                display: block;

                img {
                    height: 2.8rem;
                }
            }

            &_contacts {
                display: none;
            }
        }
    }

    .main {

        .first_logo {
            width: 90%;
            max-width: 90%;
            height: fit-content;
        }

        .first_divider {
            width: 80%;
            margin-top: 3.6rem;
        }

        .first_subtitle {
            text-align: center;
            max-width: 80%;
            font-size: 1.8rem;
        }
        .about {
            margin-top: 40rem;
            padding-top: 80%;
            position: relative;
            .container {
                flex-direction: column;
                background-color: $section_bg;
                max-width: 100%;

                border-radius: 2.4rem 2.4rem 0 0;
                box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
                
            }

            &_img {
                position: absolute;
                display: block;
                max-width: 100%;
                margin: 0;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .about_text{
            padding-top: 4.2rem;

            width: 100%;
            max-width: 100%;

            &-heading {
                width: 100%;
            }
            &-info {
                max-width: 100%;
            }

            &::before {
                display: none;
            }

            
        }

        .category {
            height: 50vh;

            &_divider {
                height: 5rem;
            }

            .text {

                .text_inner {
                    width: 28rem;
                    height: 4.4rem;
                    font-size: 1.6rem;

                    &::after {
                        padding-left: 1.8rem;
                    }
                }
            }
        }

        .fasad {
            position: relative;
            width: 100%;
            padding-top: 40%;

            &_img {
                display: none;
            }

            &_wrapper {
                position: relative;
                background-color: $section_bg;
                padding-top: 4.2rem;
                display: flex;
                align-items: start;
                flex-direction: column;
                max-width: 95%;
                margin-left: 0;
                

                &-img {
                    display: none;
                }

                

                &-title {
                    padding-left: 0;
                }

                &-text {
                    padding-left: 0;
                }

                &-btns {
                    padding-left: 0;
                    margin-top: 3.6rem;
                }

                

                
            }

            &_mobile-img {
                display: block;
                width: 100%;

                position: absolute;
                top: 0;
                left: 0;

                z-index: 2;
            }

            .container::after {
                display: none;
            }

            .container {
                position: relative;
                z-index: 4;

                max-width: 100%;
                background-color: $section_bg;
                
                border-radius: 2.4rem 2.4rem 0 0;
                box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);

            }
        }



        .partners_wrapper-card {
            width: 30rem;
            height: 15rem;
            padding: 2rem;
        }

        .partners_wrapper-title {
            
            width: 100%;
        }

        .partners_wrapper-title div.third{
            width: 100%;
            min-height: 5.4rem;
            height: fit-content;
            padding: 4rem 0;
            &::after {
                padding-left: 3.2rem;
            }
        }

        .partners_wrapper-inner {
            min-height: 20rem;
        }

        .design {
            .section_title {
                text-align: center;
            }

            background: radial-gradient(49.32% 20.46% at 50% 23.81%, #1F233F 0%, #15161D 100%);

            .container {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }

            &_image {
                display: block;
                position: relative;
                width: 80%;
                margin-bottom: 14.2rem;
            }

            &_wrapper {
                text-align: center;
                max-width: 100%;
                &-subtitle {
                    font-weight: 700;
                    font-size: 2.8rem;
                }
                &-text {
                    font-size: 2.4rem;
                }
            }

            .btn {
                margin: 0 auto;
                margin-top: 7.2rem;
            }
            
        }

        .contacts {
            
            width: 100%;
            position: relative;

            .section_title {
                position: relative;
                z-index: 3;
                margin-bottom: 60rem;
                padding-right: 5%;
            }

            &_wrapper {
                width: 100%;

                &-inner {

                    &::before {
                        left: 101%;
                    }
                    &::after {
                        left: 101%;
                    }
                }
            }
            .container {
                position: static;
                padding: 0;
            }
        }
        
        .contacts_wrapper-img {
            position: absolute;
            top: 10%;
            left: -40%;
            width: 100%;
            z-index: 2;

            img {
                width: 165%;
            }
        }

        .contacts_wrapper-info {
            z-index: 3;
            width: 100%;
            border-radius: 2.4rem 2.4rem 0 0;
            box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
            padding-top: 4.2rem;

            .btn {
                right: 0;
            }
        }

        .service {
            .container {
                flex-direction: column;
                align-items: start;
            }

            &_wrapper {
                max-width: 100%;
                margin-bottom: 7.2rem;
            }

            &_btns {
                width: 100%;
                &-item {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        border-radius: 2.4rem 2.4rem 0 0;
                box-shadow: 0px -4px 28px rgba(21, 22, 29, 0.25);
        .container {
            max-width: 100%;
            padding: 0;
        }
        &_wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0;
                margin-bottom: 4.8rem;
            }
        }

        &_logo {
            display: none;
        }

        &_logo-mobile {
            display: block;
            margin-bottom: 4.8rem;
        }

        &_socials {
            margin-top: 0;
            justify-content: center;

            a {
                margin: 0 1.2rem;
            }

            img {
                width: 4.2rem;
                height: 4.2rem;
            }
        }

        &_list {
            display: none;
        }

        &_mobile_list {
            display: block;
            margin-bottom: 4.8rem;
        }

        &_confidence {
            margin: 0 auto;
            margin-top: 0;
            text-align: center;
            justify-content: center;
        }

        
    }
}

@media (max-width: 425px) {
    body {
        font-size: 2.4rem;
    }
    .section_title {
        font-size: 3.6rem;
        line-height: 3.6rem;
    }
   
    .container {
        max-width: 100%;
    }
    
    .main {

        .about_text {
            .section_title {
                font-size: 3.6rem;
                line-height: 3.6rem;
            }

            &-btns {
                justify-content: space-between;
                flex-wrap: wrap;
                .accent {
                    margin: 4.2rem 0;
                }
            }
        }
        .about_text-info {
            font-size: 2.4rem;
        }
        .terms_list-item {
            font-size: 2.4rem;
        }
        .about_text::before {
            font-size: 10rem;
            left: -5%;
        }

        .category {
            

            &_divider {
                height: 5rem;
            }

            .text {

                .text_inner {
                    width: 16rem;
                    height: 3.4rem;
                    font-size: 1.2rem;
                    line-height: 1.2rem;

                    &::after {
                        padding-left: 1.8rem;
                    }
                }

               
            }
            .text3 {
                left: 35%;
            }
        }

        .fasad {
            .section_title {
                font-size: 3.6rem;
                line-height: 3.6rem;
            }
        }

        .fasad_wrapper {
            margin-left: 0;
            width: 100%;

            &-text {
                font-size: 2.4rem;
            }
        }

        .fasad_wrapper-btns {
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            .accent {
                margin: 4.2rem 0;
            }
        }

        .fasad_wrapper-btns .accent {
            width: fit-content;
            padding: 0 2rem;
            &::before {
                display: none;
            }
        }

        .partners_wrapper-title div{
            width: 100%;
        }

        .partners_wrapper-card {
            width: 49%;
            padding: 1rem;
            margin: 2.4rem 0;
            
            img {
                width: 100%;
                max-width: 100%;
            }
        }

        .partners_wrapper-inner {
            padding: 0;
            justify-content: space-between;
        }

        .partners_link {
            font-size: 1.2rem;
        }


        

        .contacts_wrapper-info {
            width: 100%;
        }

        .contacts {

            .section_title {
                margin-bottom: 40rem;
            }
            &_wrapper-img {
                top: 10%;
            }
        }

    }  
    
    .footer_wrapper-menu {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

}

@media (max-width: 375px) {

}