@media (max-width: 1440px) {

    .container {
        max-width: 1200px;
    }

    html {
        font-size: 9px;
    }

    .main {

        .fasad {

            &_img {
                width: 40%;
            }
            &_wrapper {
                &-img {
                    max-width: 100%;
                }
            }
        }

        .contacts_wrapper {
           flex-direction: column-reverse;

           &-img {
            max-width: 100%;
            transform: none;
            margin-bottom: 7.2rem;
           }

           &-info {
            width: 80%;
           }
        }
    }

    .main .contacts {
        .section_title {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 95%;
    }
    
    html {
        font-size: 8px;
    }

    .design_image {
        width: 40%;
        .rastr {
            max-width: 100%;
        }
        .vector {
            max-width: 120%;
        }
    }

    .main .design_wrapper {
        max-width: 42rem;
    }
}

@media (max-width: 768px) {
    
    section {
        padding: 15rem 0;
    }

    body {
        padding-bottom: 100rem;
    }

    

    

    .nav {
        &_list {
            display: none;
        }

        .nav_burger {
            display: block;
        }
    }

    .main {

        .first_logo {
            width: 90%;
            max-width: 90%;
        }

        .first_divider {
            width: 80%;
            margin-top: 1.2rem;
        }

        .first_subtitle {
            text-align: center;
            max-width: 80%;
        }
        .about {
            .container {
                flex-direction: column;
            }

            &_img {
                display: none;
            }
        }

        .about_text{
            width: 100%;
            max-width: 100%;

            &-heading {
                width: 100%;
            }
            &-info {
                max-width: 100%;
            }
        }
        .fasad {

            &_img {
                display: none;
            }

            &_wrapper {
                padding-top: 0;
                display: flex;
                align-items: start;
                flex-direction: column;
                max-width: 100%;

                &-img {
                    max-width: 100%;
                }

                &-title {
                    padding-left: 0;
                }

                &-text {
                    padding-left: 0;
                }

                &-btns {
                    padding-left: 0;
                }

                
            }

            .container::after {
                width: 50%;
                height: 50%;

                right: -15%;
                bottom: 25%;
            }
        }

        .partners_wrapper-card {
            width: 30rem;
            height: 15rem;
            padding: 2rem;
        }

        .partners_wrapper-title {
            
            width: 100%;
        }

        .partners_wrapper-title div.third{
            width: 100%;
            min-height: 5.4rem;
            height: fit-content;
            padding: 4rem 0;
            &::after {
                padding-left: 3.2rem;
            }
        }

        .partners_wrapper-inner {
            min-height: 20rem;
        }

        .service {
            .container {
                flex-direction: column;
                align-items: start;
            }

            &_wrapper {
                max-width: 100%;
                margin-bottom: 7.2rem;
            }

            &_btns {
                width: 100%;
                &-item {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        .container {
            max-width: 100%;
            padding: 0;
        }
        &_wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0;
                margin-bottom: 4.8rem;
            }
        }

        &_logo {
            display: none;
        }

        &_logo-mobile {
            display: block;
            margin-bottom: 4.8rem;
        }

        &_socials {
            margin-top: 2.4rem;
            justify-content: center;

            a {
                margin: 0 1.2rem;
            }

            img {
                width: 4.2rem;
                height: 4.2rem;
            }
        }

        &_list {
            display: none;
        }

        &_mobile_list {
            display: block;
            margin-bottom: 4.2rem;
        }

        &_confidence {
            margin: 0 auto;
            margin-top: 0;
            text-align: center;
            justify-content: center;
        }

        
    }
}

@media (max-width: 425px) {
    body {
        font-size: 2.4rem;
    }
    .section_title {
        font-size: 3.6rem;
        line-height: 3.6rem;
    }
   
    .container {
        max-width: 100%;
    }
    .main {

        .about_text-info {
            font-size: 2.4rem;
        }
        .terms_list-item {
            font-size: 2.4rem;
        }
        .about_text::before {
            font-size: 10rem;
            left: -5%;
        }

        .fasad_wrapper {
            margin-left: 0;
            width: 100%;

            &-text {
                font-size: 2.4rem;
            }
        }

        .fasad_wrapper-btns .accent {
            width: fit-content;
            padding: 0 2rem;

            &::before {
                display: none;
            }
        }

        .partners_wrapper-title div{
            width: 100%;
        }

        .partners_wrapper-card {
            width: 40%;
            padding: 1rem;
            margin: 2.4rem 1.2rem;
            
            img {
                width: 100%;
                max-width: 100%;
            }
        }

        .partners_wrapper-inner {
            justify-content: space-between;
        }


        .design {
            .section_title {
                text-align: center;
            }
            background: none;
            .container {
                flex-direction: column-reverse;

            }

            &_image {
                display: block;
                width: 80%;
                margin-bottom: 14.2rem;
            }

            &_wrapper {
                text-align: center;
                &-subtitle {
                    font-weight: 700;
                    font-size: 2.8rem;
                }
                &-text {
                    font-size: 2.4rem;
                }
            }

            .btn {
                margin: 0 auto;
                margin-top: 7.2rem;
            }
            
        }

        .contacts_wrapper-info {
            width: 100%;
        }

        .contacts {
            .btn {
                right: -5%;
            }
        }

    }  
    
    .footer_wrapper-menu {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

}

@media (max-width: 375px) {

}