@import "fonts.scss";

// Основные цвета
$accent: #A4814E;
$section_bg: #15161D;
$contrast_bg: #232430;

// Тень для объектов
$shadow: 2px 4px 22px rgba(0, 0, 0, 0.1);
$shadow_bottom: 0px 4px 28px rgba(21, 22, 29, 0.25);

// Текст
$title: 4.2rem;
$title_lh: 4.8rem;
$subtitle: 2.8rem;
$text: 2rem;
$text_lh: 2.8rem;




html {
    font-size: 10px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    scroll-behavior: smooth;
}

body {
    position: relative;
    font-size: $text;
    line-height: $text_lh;
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 35rem;

    color: #fff;
    background-color: $section_bg;

    &.no_scroll {
        overflow: hidden;
    }
}

a {
    color: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

section {
    padding: 20rem 0;
}

.section_title {
    font-size: $title;
    line-height: $title_lh;
    font-weight: 700;
    color: #fff;
}

.btn {
    width: 20rem;
    height: 6rem;

    background-color: #fff;
    color: $section_bg;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 1.8rem;

    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(-0.5rem);
    }
}
