@import "reset.scss";
@import "globals.scss";
@import "preloader.scss";
    
.header {
    width: 100%;
    position: relative;
    
    .nav {
        width: 100%;
        background-color: transparent;
        height: fit-content;
        position: fixed;
        top: 0;
        left: 0;


        overflow: hidden;

        z-index: 200;

        transition: all 0.3s ease-in-out;

        &_fixed {
            background-color: $contrast_bg;
            // box-shadow: $shadow_bottom;

        }

        .container:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 6rem;
        }

        &_logo {
            width: 2.8rem;
            height: 2.8rem;
            opacity: 0.8;
            
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 1;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        &_logo-mobile {
            display: none;
        }

        &_burger {
            display: none;

            width: 4.2rem;
            opacity: 0.8;
            
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        &_list {
            &::selection {
                background-color: transparent; 
             }

             &:hover {
                cursor:default;
             }

            &-item {
                font-size: 1.6rem;
                font-weight: 400;
                opacity: 0.8;
                margin: 0 1.2rem;
                transition: opacity 0.2s ease-in-out;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }

                &::selection {
                    background-color: transparent; 
                 }
            }
        }

        &_contacts {
            background-color: transparent;
            color: #fff;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.8;
            margin: 0 1.2rem;
            transition: opacity 0.2s ease-in-out;

            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: 0.2rem;
                background-color: $accent;

                position: absolute;
                bottom: -0.2rem;
                left: 0;
            }
            &:hover {
                opacity: 1;
            }
        }

          
    }

    &_catalog {
        position: fixed;
        top: 6rem;
        left: 0;

        overflow-x: auto;
        scrollbar-width: 0px;

        z-index: 100;

        width: 100%;

        // display: none;
        
        opacity: 0;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
        
        padding-top: 4.8rem;
        padding-bottom: 2.4rem;
        
        background-color: $contrast_bg;

        .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
        }





        &-title {
            font-size: 2.4rem;
            color: $accent;
            font-weight: 400;
            margin-bottom: 2.4rem;
        }

        &-item {
            display: block;
            width: 30rem;

            img {
                width: 100%;
                opacity: 0.8;
                transition: opacity 0.2s ease-in-out;
            }

            p {
                font-size: 1.8rem;
                margin-top: 0.8rem;
                
                position: relative;
                // overflow: hidden;
                padding-bottom: 0.4rem;

                width: fit-content;

                

                &::before {
                    content: "";

                    width: 100%;
                    height: 0.2rem;

                    background-color: $accent;
                    opacity: 0;

                    position: absolute;
                    bottom: 0rem;
                    left: 0;

                    transform: translateY(0.5rem);

                    transition: all 200ms ease-in-out;
                }
            }

            &:hover {
                img {
                    opacity: 1;
                }
                p::before {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
        
        

        &.active {
            opacity: 1;
            transform: translateY(0%);
            box-shadow: $shadow_bottom;
        }


    }   

    &_observertrigger {
        width: 1rem;
        height: 1rem;
        
        position: absolute;
        top: 20rem;
        left: 0;
        z-index: 1;

        opacity: 0;
    }

    .burger_menu {
        display: none;

        width: 100%;
        height: 100dvh;

        background-color: $section_bg;
        
        flex-direction: column;
        justify-content: space-between;

        position: fixed;
        top: 0;
        left: 0; 
        z-index: 300;

        transition: 0.2s ease-in-out;
        transition-property: opacity, transform;
        opacity: 0;
        transform: translateX(10%);
        
        &-top {
            height: 8.8rem;
            width: 100%;

            background: $section_bg;

            position: relative;
            z-index: 500;
            
            display: flex;
            justify-content: space-between;
            align-items: center;



        }

        &-close {
            display: block;
            height: 2.8rem;
            width: 2.8rem;
        }

        #burger_catalog_close {
            display: block;
            padding: 1rem;
            padding-left: 0;

            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            

            img {
                
                display: block;
                width: 1.4rem;

            }

            &.active {
                opacity: 1;
            }
        }

        &_firstpage {
            background-color: $section_bg;
            // height: calc(100dvh - 42rem);
            height: 100dvh;
            position: relative;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;;

            transition: 0.2s ease-in-out;
            transition-property: opacity, transform;

            opacity: 0;
            transform: translateX(-100%);
        }

        &_bottomwrapper {
            background-color: $contrast_bg;
            width: 100%;
            height: 25%;
            padding-left: 7.2rem;
            display: flex;
            align-items: center;

            position: relative;
            z-index: 6;

        }

        &_list {
            list-style: none;
            width: 80%;
            height: 75%;
            padding-left: 7.2rem;

           display: flex;
           align-items: center;
           justify-content: start;

            &-item {
                width: 100%;
                margin: 0.8rem 0;

                a,span {
                    display: block;
                    color: #fff;
                    font-size: 2.8rem;
                    width: 100%;
                    padding: 0.8rem 0;
                }

                &#mobile_catalog_btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 2rem;

                    img {
                        display: block;
                        width: 1.4rem;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &-active {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &_bottom-list {
            display: block;
            position: static;
            width: 50%;
            margin: 0;
            padding-left: 0;
            height: fit-content;

            opacity: 1;
            transform: none;
            transition: none;

            a {
                color: #838385;
                font-size: 1.8rem;
                padding: 0.2rem 0;
                margin: 0.2rem 0;    
                font-weight: 700;
            }
        }

        &_catalog {
            position: absolute;
            top: 8rem;
            left: 0;
            z-index: 400;

            width: 100%;
            height: 100%;

            padding-bottom: 15%;

            .container {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
            }

             
            


            overflow-y: scroll;

            transition: 0.2s ease-in-out;
            transition-property: opacity, transform;

            opacity: 0;
            transform: translateX(100%);

            &-leftwrapper {
                width: fit-content;
                height: fit-content;
                padding: 1rem;
                margin-top: 4.4rem;


                
            }

            &-rightwrapper {
                

                
                
            }

            &-item {
                width: 100%;
                img {
                    display: block;
                    width: 100%;
                    margin-bottom: 1.2rem;
                }

                p {
                    color: #fff;
                    font-weight: 400;
                    font-size: 2rem;
                    width: fit-content;
                    border-bottom: 0.1rem solid $accent;
                }

                margin-bottom: 4.8rem;
            }

            &-active {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &-active {
            // animation: openburger 0.3s ease-in-out forwards;
            opacity: 1;
            transform: none;
        }

        
    }

}

.main {

    .first {
        min-height: 100lvh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: linear-gradient(179.11deg, #1F233F -33.3%, #15161D 65.85%);
        


        &_logo {
            width: 91rem;
            height: 20rem;

            max-width: 90%;
        }

        &_divider {
            width: 60rem;
            height: 2px;
            background-color: $accent;
            margin-top: 6.4rem;
        }

        &_subtitle {
            font-size: 2.4rem;
            font-weight: 400;
            margin-top: 1.2rem;
        }

        .btn {
            margin-top: 7.2rem;
            animation: first_btn 2.5s ease-in-out infinite;
        }

        @keyframes first_btn {
            0% {
                transform: translateY(0.5rem);
            }

            50% {
                transform: translateY(-0.5rem);
            }

            100% {
                transform: translateY(0.5rem);
            }
        }
    }

    .category {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        &_divider {
            background: #15161D;
            width: 100%;
            height: 5rem;
            
            position: absolute;
            top: -1px;
            left: 0;

            z-index: 5;

            clip-path: polygon(0 0, 100% 100%, 100% 0);

            &-bottom {
                background: #15161D;
                width: 100%;
                height: 10rem;
                
                position: absolute;
                bottom: -0.5rem;
                left: 0;

                z-index: 5;

                clip-path: polygon(0 50%, 0% 100%, 100% 100%);
            }
        }

        &_triangle {
            display: block;
            text-decoration: none;

            opacity: 0;
            pointer-events: none;
            
            position: absolute;
            z-index: 2;

            transition: opacity 0.3s ease-in-out;

            &-wrapper {
                height: 100%;
                width: 100%;
                background-color: #15161D;
                opacity: 0.8;

                transition: opacity 0.2s ease-in-out;
            }

            &:hover .category_triangle-wrapper{
                opacity: 0.4;
            }

            &:hover .text .text_wrapper:before {
                transform: none;
            }
        }

        .triangle1 {
            background-image: url(src/img/mask/home.jpg);
            background-size: 120% 140%;
            background-position: right;
            background-repeat: no-repeat;
            
            width: 68.5%;
            height: 79.5%;
            clip-path: polygon(0% 0, 0 100%, 100% 0%);

            top: 0;
            left: 0;

            transform: translateX(-3rem);

            
        }

        .triangle2 {
            background-image: url(src/img/mask/hotel.jpg);
            background-size: 120% 120%;
            background-position: center;
            background-repeat: no-repeat;

            width: 57.8%;
            height: 100%;

            clip-path: polygon(45% 0, 100% 0, 100% 100%,0 30.5%);

            top: 0;
            right: 0;

            transform: translateX(2.5rem);

            
        }

        .triangle3 {
            background-image: url(src/img/mask/office.jpg);
            background-size: 100% 160%;
            background-position: center;
            background-repeat: no-repeat;

            width: 100%;
            height: 69.5%;

            clip-path: polygon(0 69.5%, 42.2% 0%, 100% 100%, 0% 100%);

            bottom: 0;
            left: 0;

            transform: translateY(2rem);

            
        }

        .line {
            z-index: 3;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        
            width: 68.5%;
            height: 79.5%;
        
            clip-path: polygon(0 99%, 99.5% 0, 100% 0, 0 99.5%);

            .line_inner {
                width: 100%;
                height: 100%;
                overflow: hidden;

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;

                    transform:translate(-100%, 100%);

                }
            }

            .line_inner-active {
                &::before {
                    animation: line1 0.4s ease-in-out forwards;
                }
            }
        
        }

        .line2 {
            z-index: 3;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        
            width: 58%;
            height: 100%;
        
            clip-path: polygon(0.4% 30%, 100% 99.6%, 100% 100%, 0% 30.2%);

            .line_inner {
                width: 100%;
                height: 100%;
                overflow: hidden;

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;

                    transform:translate(100%, 100%);

                }
            }

            .line_inner-active {
                &::before {
                    animation: line2 0.6s ease-in-out forwards;
                    animation-delay: 0.4s;
                }
            }


            @keyframes line1 {
                0% {
                    transform:translate(-100%, 100%);
                }

                100% {
                    transform:translate(0, 0);
                }
            }
            @keyframes line2 {
                0% {
                    transform:translate(-100%, -100%);
                }

                100% {
                    transform:translate(0, 0);
                }
            }
        
        }

        .text{
            position: absolute;
            z-index: 3;
           
            width: fit-content;
            height: fit-content;
            font-size: 4.8rem;
            line-height: 4.8rem;

            &_wrapper {
                position: relative;
                height: 100%;
                width: 100%;
                overflow: hidden;
                padding: 1rem;
                color: #fff;
            
            font-weight: 700;


                z-index: 2;

                &::before {
                    content: "";
                    display: block;
                    height: 100%;
                    width: 100%;

                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;

                    background-color: $contrast_bg;
                    transform: translateX(-100%);
                    
                    transition: transform 250ms ease-in-out;
                }
            }
        }
        
        .text1 {
            top: 15%;
            left: 10%;

        }

        .text2 {
            top: 25%;
            right: 15%;
        }

        .text3 {
            bottom: 30%;
            left: 45%;
        }
        
        @keyframes text_line {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(0);
            }
        }

        &_animated {
            .triangle1 {
                animation: show_triangle1 0.4s ease-in-out forwards;
                animation-delay: 0.5s;
            }
            .triangle2 {
                animation: show_triangle2 0.4s ease-in-out forwards;
                animation-delay: 0.7s;
            }
            .triangle3 {
                animation: show_triangle3 0.4s ease-in-out forwards;
                animation-delay: 0.9s;
            }

            @keyframes show_triangle1 {
                0% {
                    opacity: 0;
                    transform: translateX(-3rem);
                }
                100% {
                    opacity: 0.8;
                    transform: translateX(0);
                }
            }
            @keyframes show_triangle2 {
                0% {
                    opacity: 0;
                    transform: translateX(2.5rem);
                }
                100% {
                    opacity: 0.8;
                    transform: translateX(0);
                }
            }
            @keyframes show_triangle3 {
                0% {
                    opacity: 0;
                    transform: translateY(3rem);
                }
                100% {
                    opacity: 0.8;
                    transform: translateY(0);
                }
            }
        }
    }

    .about {
        margin-top: 8rem;
        overflow: hidden;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_text {
            max-width: 72rem;
            position: relative;

            &::before {
                content: "LIONLUX";
                font-size: 15rem;
                font-weight: 900;
                color: #fff;
                letter-spacing: -1rem;
                opacity: 0.02;
                
                position: absolute;
                top: -3.5rem;
                left: -6rem;
            }

            &-heading {
                color: #fff;
                font-size: $title;
                line-height: 4.8rem;
                font-weight: 400;

                margin-bottom: 7.2rem;

                .accent {
                    color: $accent;
                    font-weight: 700;
                }
            }

            &-info {
                max-width: 64rem;
                font-size: $text;
                font-weight: 400;
                margin-bottom: 3.6rem;

                &.mobile {
                    display: none;
                }
            }

            &-btns {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 7.2rem;

                .accent {
                    background-color: transparent;
                    color: $accent;
                    border: 1px solid $accent;

                    margin-right: 4.8rem;

                    &:hover {
                        background-color: $accent;
                        color: #fff;
                    }
                }
            }

        }

        &_img {
            max-width: 40%;
            margin-left: 2.8rem;
        }
    }

    .fasad {
        margin-top: 20rem;

        overflow: hidden;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;

            &::after {
                content: "";
                display: block;

                width: 76rem;
                height: 76rem;
                opacity: 0.02;

                background-image: url("src/img/fasad-vector.svg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                position: absolute;
                right: -35%;
                bottom: -15%;
                z-index: -1;
            }
        }
        &_img {
            display: block;
            width: 55rem;
        }

        &_wrapper {
            padding-top: 10rem;
            margin-left: 2rem;

            &-title {
                font-size: $title;
                color: $accent;
                font-weight: 700;
                padding-left: 5rem;
            }

            &-text {
                font-size: $text;
                padding-left: 5rem;
                color: #fff;
                max-width: 68rem;
                margin-top: 3.6rem;

                a {
                    color: $accent;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &-btns {
                padding-left: 5rem;
                margin-top: 7.2rem;
                display: flex;
                align-items: center;

                .accent {
                    margin-left: 4.8rem;
                    background-color: transparent;
                    border: 1px solid $accent;
                    color: $accent;
                    position: relative;

                    width: 26rem;

                    &:hover {
                        transform: translateX(1rem);
                        background-color: $accent;
                        color: #fff;

                        &::before {
                            background-image: url("src/img/btn-arrow-white.svg");
                        }
                    }

                    &::before {
                        content: "";
                        display: block;
                        width: 2rem;
                        height: 1.2rem;
                        background-image: url("src/img/btn-arrow.svg");
                        background-size: cover;
                        background-position: center;
                        position: absolute;
                        right: 2rem;
                        top: 2.4rem;

                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 5rem;
                        height: 2.4rem;
                        background-image: url("src/img/sidak_logo.svg");
                        background-size: cover;
                        background-position: center;
                        position: absolute;
                        right: -1rem;
                        top: -1.4rem;
                    }
                }

            }

            &-img {
                max-width: 85rem;
                margin-top: 10rem;
            }
        }

        &_mobile-img {
            display: none;
        }
    }

    .partners {

        .section_title {
            margin-bottom: 7.2rem;
            text-align: center;
            .accent {
                color: $accent;
            }

            &.partners_second {
                margin-top: 7.2rem;
                margin-bottom: 14rem;
            }
        }

        &_wrapper {
            width: 100%; 
            padding: 4.8rem;
            background-color: $contrast_bg;
            box-shadow: $shadow_bottom;

            border-radius: 2.4rem;
            margin-bottom: 4.8rem;

            &-title {
                margin-bottom: 7.2rem;
                margin-left: 2rem;
                font-size: 3.2rem;
                width: fit-content;
                padding-bottom: 0.6rem;

                border-bottom: 0.2rem solid $accent;



                color: #fff;


            }

           
            &-card {
                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: transparent;
                width: 100%;
                height: 20rem;

                margin: 3.6rem 2rem;

                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: #ffffff36;
                    transform: translateY(-2rem);
                }
                img {
                    max-width: 100%;
                    width: 35rem;
                }
                    
            }

            &-inner {
                padding: 0;

                display: grid;
                grid-template-columns: 100fr 100fr 100fr;
                gap: 2rem;
            }

            &-subtitle {
                color: #fff;
                font-size: 2.4rem;
                font-weight: 700;
                text-align: left;

                margin-bottom: 3.6rem;
            }

            &-list {
                margin-bottom: 7.2rem;
                li {
                    font-size: 1.8rem;
                    font-weight: 400;
                    margin-bottom: 1.2rem;
                }
            }
        }

        &_link {
            font-size: 1.8rem;
            font-weight: 400;
            box-shadow: 0px 0px 66px -3px rgba(17, 25, 67, 0.2);
            background: linear-gradient(90deg, #232430 0%, #15161D 100%);

            backdrop-filter: blur(23.5px);

            .container {
                display: flex;
                align-items: center;
                height: 10rem;
            }

            a {
                color: $accent;
                margin-left: 1rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .terms {

        .section_title {
            text-align: center;
            margin-bottom: 7.2rem;
        }

        &_list {

            &-item {
                font-size: 2rem;
                color: #fff;
                background-color: $contrast_bg;
                
                padding: 6.4rem 4rem 2.4rem 4rem;
                margin-bottom: 2.4rem;

                position: relative;

                &::before {
                    content: "";
                    display: block;

                    background-image: url("src/img/check.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    width: 4rem;
                    height: 2.75rem;

                    position: absolute;
                    top: 2.4rem;
                    left: 4rem;

                }
            }
        }
    }

    .design {
        overflow: hidden;
        background: radial-gradient(18.62% 37.15% at 75.39% 50.05%, #1F233F 0%, #15161D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;


        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_wrapper {
            color: #fff;
            max-width: 72rem;

            .section_title {
                margin-bottom: 7.2rem;
                .accent {
                    color: $accent;
                }
            }

           &-subtitle {
            font-size: 2.4rem;
            line-height: 2.4rem;
            margin-bottom: 1.6rem;
            margin-top: 3.2rem;
            font-weight: 700;


           }

           &-text {
            font-size: 1.8rem;
            margin-bottom: 1.6rem;
           }

            .btn {
                margin-top: 7.2rem;
                background-color: $accent;
                color: #fff;
            }
        }

        &_image {
            position: relative;

            .rastr {
                position: relative;
                z-index: 4;
            }
            .vector {
                position: absolute;
                top: -10%;
                right: -10%;
                z-index: 3;
            }
        }
    }

    .contacts {
        overflow: hidden;

        .section_title {
            text-align: right;
            margin-bottom: 7.2rem;
        }

        &_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-info {
                position: relative;

                background-color: #fff;
                color: $section_bg;

                width: 42rem;
                min-height: 63rem;

                padding-left: 4rem;
                padding-top: 3.2rem;
                padding-bottom: 10rem;

                h3 {
                    width: fit-content;
                    font-size: 2rem;
                    font-weight: 700;
                    border-bottom: 2px solid $accent;
                    margin-bottom: 3.2rem;
                }

                .btn {
                    position: absolute;
                    bottom: 4rem;
                    right: -5rem;

                    background-color: $accent;
                    color: #fff;

                    &:hover {
                        transform: translateX(1rem);
                    }
                }
            }

            &-inner {
                position: relative;

                &::before {
                    content: "";

                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;

                    background-color: $accent;

                    box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
                    position: absolute;
                    top: 49%;
                    left: 92%;

                    animation: point_shadow ease-in-out 5s infinite;
                }

                &::after {
                    content: "";

                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;

                    background-color: transparent;
                    border: 0.1rem solid $accent;

                    position: absolute;
                    top: 49%;
                    left: 92%;

                    animation: point_border ease-in-out 3s infinite;
                    animation-delay: 1s;
                }
            }

            @keyframes point_shadow {
                0% {
                    box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
                    transform: scale(1);
                }

                50% {
                    box-shadow: 0px 0px 20.3px 2px rgba(255, 255, 255, 0.41);
                    transform: scale(1.2);
                }

                100% {
                    box-shadow: 0px 0px 11.3px 2px rgba(255, 255, 255, 0.41);
                    transform: scale(1);
                }
            }

            @keyframes point_border{
                0% {
                    opacity: 1;
                    transform: scale(1);
                }

                100% {
                    opacity: 0;
                    transform: scale(1.8);
                }
            }

            &-img {
                max-width: 70%;
                transform: translateX(-20%);

                img {
                    width: 150%;
                }
            }
        }

        &_list {
            margin-bottom: 4.2rem;

            &-item {
                display: flex;
                align-items: center;
                margin-bottom: 1.6rem;

                font-size: 1.8rem;
                font-weight: 400;

                img {
                    margin-right: 1.6rem;
                    width: 2rem;
                    height: 2rem;
                }

                .phone {
                    width: 1.8rem;
                    height: 2rem;
                }

                a:hover {
                    color: $accent;
                    text-decoration: underline;
                }

                &.location {
                    align-items: start;

                    img {
                        transform: translateY(0.4rem);
                    }
                }
            }
        }

        &_socials {
            display: flex;
            align-items: center;

            a {
                display: block;
                margin-right: 1.6rem;
                transition: transform ease-in-out 0.2s;
                
                &:hover {
                    transform: translateY(-0.5rem);
                }
            }

            &.contacts_first {
                margin-bottom: 4.8rem;
            }
        }
    }

    .service {
        
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_wrapper {
            max-width: 54rem;
            .section_title {
                text-align: left;
                margin-bottom: 12rem;
            }

            &-text {
                color: #fff;
                font-size: 2.4rem;
                line-height: 2.8rem;
                font-weight: 400;
                text-align: left;

                margin-bottom: 3.6rem;

                .accent {
                    color: $accent;
                }
            }
        }

        &_btns {
            background-color: $accent;

            width: fit-content;
            height: fit-content;

            padding: 0;
            margin: 0;

            &-item {
                display: flex;
                flex-direction: column;
                align-items: start;

                border: none;
                outline: none;

                width: 40rem;
                height: 20rem;

                margin: 0;
                padding: 1.6rem;

                background-color: #fff;

                transition: transform 0.2s ease-in-out;

                &:hover {
                    transform: translateX(-2rem);
                }

                img {
                    display: block;
                    margin-bottom: 2.4rem;
                }

                p {
                    font-size: 2.4rem;
                    line-height: 2.4rem;
                    letter-spacing: 0.2rem;
                    font-weight: 700;
                    text-align: left;
                }

                &:nth-child(1) {

                    img {
                        height: 2.8rem;
                        width: 3.2rem;
                    }

                    p {
                        color: $section_bg;
                    }
                }

                &:nth-child(2) {
                    background-color: $section_bg;

                    img {
                        height: 3.2rem;
                        width: 3.2rem;
                    }

                    p {
                        color: #fff;
                    }
                }
                &:nth-child(3) {
                    background-color: #fff;

                    img {
                        height: 4.4rem;
                        width: 4.2rem;
                    }

                    p {
                        color: $section_bg;
                    }
                }


            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    padding: 6rem 0 2rem 0;
    background-color: $contrast_bg;

    &_wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;

        &-menu {
            display: flex;
            align-items: start;
            justify-content: end;
        }
    }

    &_logo {
        width: 20rem;

        &-mobile {
            display: none;
        }
    }

    &_socials {
        display: flex;
        align-items: center;

        margin-top: 3.6rem;

        a {
            margin-right: 1.6rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: translateY(-0.5rem);
            }
        }

        img {
            display: block;
            width: 3.6rem;
            height: 3.6rem;
        }
    }

    &_list {
        margin: 0 2.4rem;

        &:last-child {
            margin-right: 0;
        }

        &-title {
            font-size: 2.4rem;
            color: #fff;
            font-weight: 400;

            padding-bottom: 0.5rem;

            margin-bottom: 2.4rem;
            position: relative;

            width: fit-content;

            &::before {
                content: "";
                width: 100%;
                height: 0.2rem;
                background-color: $accent;

                position: absolute;
                bottom: -0.4rem;
                left: 0;
            }
        }

        &-item {
            width: fit-content;
            height: fit-content;
            padding: 0;

            a, button {
                background-color: transparent;
                color: #fff;
                font-size: 1.6rem;
                font-weight: 400;
                padding: 0;
                outline: none;
                border: none;
                width: fit-content;
                height: fit-content;

                line-height: 1.6rem;

                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &_mobile_list {
        position: relative;
        display: none;
        width: 100%;

        &-item {
            width: 100%;
            margin: 0 auto;
            height: fit-content;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

            a {
                display: block;
                width: 100%;
                font-size: 2rem;
                text-align: center;
                color: #fff;
                padding: 0.8rem;

                transition: opacity 0.2s ease-in-out;
                
                
            }
        }
    }

    &_confidence {
        display: block;
        width: fit-content;
        color: #fff;
        opacity: 0.6;
        font-size: 1.2rem;
        text-align: left;

        margin-top: 7.2rem;

        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }


}

@import "scroll_animation.scss";
@import "adaptive.scss";

